.comments-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: fit-content;
  max-width: 65%;
  margin: 0 4rem 3.5rem 3.5rem;

  animation: moveToBottom 0.8s ease-in-out;
}

@keyframes moveToBottom {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  25% {
    opacity: 0.2;
    transform: translateY(-4rem);
  }

  40% {
    opacity: 0.7;
    transform: translateY(-3rem);
  }

  55% {
    opacity: 0.9;
    transform: translateY(-1rem);
  }

  70% {
    opacity: 1;
    transform: translateY(0);
  }

  85% {
    opacity: 1;
    transform: translateY(-1.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
