$color-primary: #222;
$color-primary-light: #444;

.post-container {
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  .title-body-container {
  }

  .post-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: $color-primary;
    text-transform: capitalize;
    margin-bottom: 0.3rem;
  }

  .post-body {
    font-size: 1.2rem;
    line-height: 1.1;
    color: $color-primary-light;
    padding-bottom: 1rem;
    border-bottom: 0.4px solid #ddd;
  }

  .remove-button {
    font-size: 1.7rem;
    color: #bbb;
  }
}
.comment-button-container {
  margin-bottom: 1rem;

  .comment-button {
    font-size: 1.7rem;
    color: #777;
  }
}
