.post-container {
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  .title-body-container {
  }

  .post-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #222;
    text-transform: capitalize;
    margin-bottom: 0.5rem;
  }

  .post-body {
    font-size: 1.3rem;
    line-height: 1.2;
    color: #444;
    padding-bottom: 1.2rem;
    border-bottom: 0.4px solid #ddd;
  }

  .remove-button {
    font-size: 1.7rem;
    color: #bbb;
  }
}
.comment-button-container {
  // margin-bottom: 1rem;

  .comment-button {
    font-size: 1.7rem;
    color: #777;
  }
}
